*.dll
*.opensdf
*.sdf
*.suo
*.vcxproj.user
*.opendb
*.vc.db
*.pdb
.vs
Debug/
Release/
/Bin/*
!/Bin/README.md
/Lib/*
!/Lib/README.md
Documentation/Doxygen/html
Tests/Core/TestOutput
Tests/UICore/TestOutput