version: 2
jobs:
  bootstrap-build:
    docker:
      - image: codesmithy/gcc-bootstrap-build-prerequisites:0.1.0
    steps:
      - run: 
          name: "Set CODESMITHY_IDE environment variables"
          command: echo 'export CODESMITHY_IDE="/CodeSmithyIDE"' >> $BASH_ENV
      - checkout:
          path: /CodeSmithyIDE/CodeSmithy
      - run:
          name: Build
          command: cd /CodeSmithyIDE/CodeSmithy/Core/Makefiles/GNUmakefile && make
      - run:
          name: Test build
          command: cd /CodeSmithyIDE/CodeSmithy/Tests/Core/Makefiles/GNUmakefile && make
      - run:
          name: Run the tests
          command: cd /CodeSmithyIDE/CodeSmithy/Tests/Core/Makefiles/GNUmakefile && ./CodeSmithyCoreTests
workflows:
  build:
    jobs:
      - bootstrap-build
